@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Black.woff) format("woff2");
	font-weight: 800;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-ExtraBold.woff) format("woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Bold.woff) format("woff2");
	font-weight: 600;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-SemiBold.woff) format("woff2");
	font-weight: 500;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Medium.woff) format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Regular.woff) format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Light.woff) format("woff2");
	font-weight: 200;
}
@font-face {
	font-family: "Gilroy";
	src: url(fonts/Gilroy-Thin.woff) format("woff2");
	font-weight: 100;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	padding: 2% 0 0 0;
	color: #fff;
	background: url(img/indexBG.jpg) no-repeat center;
	background-size: cover;
	font-family: Gilroy;
	font-size: 700;
	display: flex;
	flex-direction: column;
}
h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

/*--------------------------------------------------*/

.header {
	width: 90%;
	height: 86px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 89px;
}

.logo {
	width: 186px;
	font-size: 40px;
	line-height: 38px;
}

.logoTextRight{
	text-align: right;
}

.stats {
	width: 554px;
	display: flex;
	justify-content: space-between;
}

.statLine {
	width: 57px;
	height: 2px;
	background-color: #3C4B74
}

.statText {
	font-size: 22px;
	margin: 3px 0;
}

.mainTitle {
	width: 560px;
	margin: auto;
	text-align: center;
	font-size: 60px;
	/*margin-bottom: 111px;*/
}

.mainTitle span{
	font-weight: 700;
}

.mainButton {
	color: #3C4B74;
	background-color: #fff;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	font-family: Gilroy;
	font-size: 40px;
	font-weight: 600;
	margin-top: 111px;
	display: inline-block;
}